body {
	font-family: 'Lato', sans-serif;
	background-color: #222;
}

#game-info, #btn-propose-mission, #game-in-progress, #game-finish, #btn-vote-yes, #btn-vote-no, #btn-succeed, #btn-fail {
	display: none;
}

#game-finish li {
	display: block;
}

#title, h5 {
	color: #fff;
}

#title h2 {
	font-weight: bold;
}

.container {
	width: 320px;
	text-align: center;
	padding: 15px;
}

.row {
	margin: 0 0 15px 0;
}

.row:last-child {
	margin: 0;
}

.sub-container {
	margin-top: 15px;
}

.list-group {
	margin-bottom: 15px;
}

#list-mission {
	width: 100%;
	height: 50px;
	margin: 0 0 10px 0;
}

.current-mission {
	background-color: rgb(255, 187, 51) !important;
}

.failed-mission {
	background-color: rgb(255, 68, 85) !important;
}

.passed-mission {
	background-color: #5cb85c !important;
}

.fa-star {
	font-size: 20px !important;
	color: #fc0;
}

.mission {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #888;
	margin-right: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	padding-top: 3px;
}

.mission:last-child {
	margin-right: 0;
}

#failed-proposals {
	float: left;
	padding-top: 7px;
	color: #fff;
}

#game-info {
	float: left;
}

.col-xs-2, .col-xs-5, .col-xs-6, .col-xs-8 {
	padding: 0;
}

#btn-roles {
	width: 100%;
	float: left;
}

.user {
	height: 40px;
	transition: background-color 0.25s;
}

.user-self {
	color: #05f;
	font-weight: bold;
}

.user-spy {
	background-color: #fca !important;
}

.user-vote {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	float: right;
}

.user-vote.accepted{
	background-color: #5cb85c;
}
.user-vote.rejected{
	background-color: rgb(255, 68, 85);
}

.user.selected {
	background-color: #ddd;
}

#instructions {
	border-radius: 4px;
	padding: 10px;
	transition: background-color 0.25s;
	font-weight: bold;
	color: #fff;
}

.highlight {
	background-color: rgb(255, 187, 51);
}

.btn {
	width: 100%;
}