body {
	font-family: 'Lato', sans-serif;
}

.container {
	text-align: center;
}

.container > .row {
	margin: 15px 0 0 0;
}

.btn {
	box-shadow: 0 5px 0 #888;
}

.sub-container {
	margin-top: 15px;
}

#list-mission {
	width: 100%;
	height: 50px;
	margin: 0 0 10px 0;
}

.mission {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #888;
	margin-right: 10px;
}

.mission:last-child {
	margin-right: 0;
}

#failed-proposals {
	float: left;
}

#game-info {
	display: none;
	float: left;
}

.game-info-row {
	width: 100%;
	float: left;
}

.col-xs-6 {
	padding: 0;
}

#btn-roles {
	width: 100%;
	float: left;
}

.user {
	height: 40px;
}

.user-vote {
	height: 20px;
	background-color: #8f8;
}

.fa {
	width: 20px;
	height: 20px;
}

.fa-star {
	color: #fd0;
}